.section--header-vision {

	background-image: url('/img/sections/vision/header.jpg');
	background-size: cover;
	background-position: right -20px bottom -263px;
	height: 770px;
	padding-top: 130px;

	@screen lg {
		background-position: right bottom;
		height: 795px;
		padding-top: 0;
	}

	.container {

		@apply
			.justify-start
			.items-center
		;

		@screen lg {

			@apply
				.justify-center
				.items-start
			;

		}

	}

	.section__icon {

		margin-bottom: 20px;

		@screen lg {
			margin-top: 63px;
		}

	}

	.section__heading {

		font-size: 36.1px;
		font-weight: 600;
		letter-spacing: -0.82px;
		line-height: 1.42;
		margin-bottom: 0;

		@apply
			.text-text
		;

		@screen lg {
			font-size: 38px;
			letter-spacing: -0.86px;
			line-height: 1;
			margin-bottom: 5px;
		}

	}

	.section__highlight {

		background-image: linear-gradient(89deg, #096dff, #00b1ff);
		font-size: 36.1px;
		font-weight: 500;
		letter-spacing: -0.81px;
		line-height: 1;

		@screen lg {
			font-size: 38px;
			letter-spacing: -0.86px;
		}

	}

	.section__button {

		background-color: #f8f8f8;
		margin-top: 36px;

		@screen lg {
			left: 3px;
			margin-top: 45px;
			position: relative;
		}

	}

}

.section--vision-explanation {

	padding: 87px 29px 126px;

	@apply
		.bg-body-bg
	;

	@screeen lg {
		padding: 133px 0;
	}

	.section__heading {

		font-size: 28px;
		font-weight: 600;
		letter-spacing: -0.84px;
		line-height: 1.07;
		margin-bottom: 20px;

		@apply
			.text-text
		;

		@screen lg {
			font-size: 40px;
			letter-spacing: -1.2px;
			line-height: 0.9;
			margin-bottom: 0;
			width: 438px;
		}

	}

	.section__explanation {

		font-size: 20px;
		line-height: 1.3;
		letter-spacing: -0.24px;

		@apply
  			.text-text-lighter
  		;

  		@screen lg {
			font-size: 17px;
			letter-spacing: -0.2px;
			line-height: 1.53;
			width: 469px;
  		}

	}

}

.section--vision-smart {

	background-image: url('/img/sections/vision/smart/bg-mobile.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 713px;
	margin-bottom: 10px;
	padding: 76px 29px 0;

	@screen lg {
		background-image: url('/img/sections/vision/smart/bg.jpg');
		height: 860px;
		padding: 192px 0 0;
	}

	.section__content {
		position: relative;
		left: 6px;
	}

	.section__heading {

		color: white;
		font-size: 34px;
		font-weight: 600;
		letter-spacing: -0.64px;
		line-height: 1.15;
		margin-bottom: 11px;

		@screen lg {
			font-size: 40px;
			letter-spacing: -0.84px;
			line-height: 1.03;
			margin-bottom: 13px;
			width: 383px;
		}

	}

	.section__explanation {

		color: white;
		font-size: 20px;
		letter-spacing: -0.1px;
		line-height: 1.45;
		width: 320px;

		@screen lg {
			line-height: 1.2;
			width: 364px;
		}

	}

}

.section--vision-interface {

	background-image: url('/img/sections/vision/smart/bg.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 400%;
	height: 660px;
	margin-bottom: 10px;
	padding-top: 341px;

	@screen lg {
		background-size: cover;
		height: 518px;
		padding-top: 188px;
	}

	.section__content {

		@apply
			.flex
			.flex-col
			.items-center
		;

		@screen lg {

			@apply
				.items-start
			;

		}

	}

	.section__heading {

		color: white;
		font-size: 28px;
		font-weight: 500;
		letter-spacing: -0.63px;
		line-height: 1.29;
		text-align: center;
		width: 336px;

		@screen lg {
			font-size: 28px;
			font-weight: 500;
			letter-spacing: -0.2px;
			line-height: 1.18;
			text-align: left;
			width: 422px;
		}

	}

	.section__button {

		margin: 40px auto 0;
		width: 234px;

		@screen lg {
			line-height: 1.5;
			margin: 28px 0 0;
			width: 210px;
		}

	}

}
