APP_NAME=
APP_ENV=
APP_KEY=
APP_DEBUG=
APP_URL=

HSTS_ENABLED=

LOG_CHANNEL=daily

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
SESSION_DRIVER=file
SESSION_LIFETIME=120
QUEUE_DRIVER=sync

MAIL_DRIVER=log

STRIPE_KEY=
STRIPE_SECRET=
STRIPE_WEBHOOK_SECRET=
VISION_SKU=

TRELLO_URL=
COINMARKETCAP_URL=

MEDIUM_URL=
MEDIUM_RSS_URL=
RSS2JSON_URL=

COMPANY_NAME=
EMAIL_ADDRESS=
SENDGRID_API_KEY=

RECAPTCHA_V3_PK=
RECAPTCHA_V3_SK=
