.section--intro-inxt {

	background-image: url(/img/sections/inxt/intro/bg-mobile.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
	height: 660px;
	margin-bottom: 10px;

	@screen lg {
		background-image: url(/img/sections/inxt/intro/bg.jpg);
		height: 560px;
		min-height: 560px;
	}

	.container {

		position: relative;
		top: -25px;

		@apply
			.flex
			.flex-col
			.h-full
			.items-center
			.justify-center
		;

	}

	.section__label {
		font-stretch: normal;
		font-style: normal;
		letter-spacing: normal;
		line-height: 1;
	}

	.section__heading {

		color: white;
		line-height: 1;
		margin-top: 14px;

		@screen lg {
			font-size: 46px;
			letter-spacing: -0.84px;
			line-height: 1;
			margin-top: 20px;
		}

	}

	.section__link-container {

		margin-top: 36px;

		@screen lg {
			margin-top: 44px;
		}

	}

	.section__link {

		background-color: transparent;
		background-image: url('/img/icons/arrow-white-small.svg');
		background-position: right 2px center;
		background-repeat: no-repeat;
		color: white;
		font-size: 16.3px;
		font-weight: 600;
		letter-spacing: 0.59px;
		margin-right: 25px;
		margin-top: 0;
		padding-right: 19px;
		text-transform: uppercase;
		transition: background-position 0.2s;

		@screen lg {
  			font-size: 15px;
  			letter-spacing: 0.6px;
			margin-top: 0px;
		}

		&--buy {

			display: none;

			@screen lg {
				display: inline-block;
			}

		}

		&:hover {
			background-position: right 0 center;
		}

	}

}
