.cc-invisible,
.cc-revoke {
    display: none !important;
}

.cc-window {

    background-color: rgba(0, 0, 0, 0.46);
    border-radius: 33.6px;
    bottom: 32px;
    box-shadow: 0 4px 28px 0 rgba(0, 0, 0, 0.12);
    color: white;
    font-size: 13.2px;;
    height: 49.5px;
    left: 50%;
    letter-spacing: 0.11px;
    line-height: 3.27;
    opacity: 0; // Transitions in
    padding-left: 18.7px;
    padding-right: 16.5px;
    position: fixed;
    transform: translateX(-50%);
    width: 282.7px;
    z-index: 100;

    @apply
        .flex
        .items-center
        .justify-between
    ;

    @supports (backdrop-filter: blur(5px)) {
        backdrop-filter: blur(5px);
    }

    @screen lg {
        border-radius: 30.5px;
        font-size: 12px;
        height: 45px;
        letter-spacing: 0.1px;
        width: 257px;
        padding-left: 15.7px;
        padding-right: 13.5px;
    }

    .cc-message {

        a{
            display: none;
        }

    }

    .cc-compliance {
        display: flex;
    }

    .cc-btn {

        background-color: rgba(255, 255, 255, 0.12);
        border-radius: 31.4px;
        color: white;
        display: inline-block;
        font-size: 12px;
        font-weight: 300;
        height: 27.5px;
        letter-spacing: 0.22px;
        line-height: 2.14;
        text-align: center;
        width: 66px;

        @screen lg {
            border-radius: 28.5px;
            font-size: 11px;
            height: 25px;
            letter-spacing: 0.2px;
            width: 60px;
        }

    }

    .cc-deny {
        order: 3;
    }

    .cc-allow {
        margin-right: 7px;
        order: 2;
    }




}